.acide{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 326px;
    height: 686px;
    margin-left: 1082px;
    margin-top: -70px;
}


.top-books{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 326px;
    height: 470px;
    background-color: #1A1D1F;
    border-radius: 8px;
    margin-top: 20px;
}

.topBooksHeader{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 326px;
    height: 24px;
    margin-top: 25px;
}
.topBooksHeader p{
    width: 108px;
    height: 23px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 16px;
}
.topBooksHeader a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 94px;
    height: 24px;
    color: #9DA1A3;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

#book-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 395px;
    gap: 20px;
}
.book-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 294px;
    height: 80px;
    border-top: 1px solid #1F272A;
    &:hover{
        background-color: #13181C;
    }
}
.book-item h6{
    width: 200px;
    height: 40px;
    margin-top: -80px;
    margin-left: 70px;
    color: white;
    font-size: 13px;
    font-family: sans-serif;
}
.book-item p{
    width: 94px;
    height: 20px;
    margin-left: 70px;
    margin-top: -30px;
    font-size: 14px;
    color: rgb(255, 255, 255, 72%);
    font-family: sans-serif;
}
.book-item img{
    width: 54px;
    height: 80px;
}

