.navbar {
    display: flex;
    align-items: center;
    width: 1374px;
    height: 44px;
    margin-left: 32px;
    margin-bottom: 20px;
    user-select: none;
    border: 1px solid  #303030;
    border-radius: 8px;
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 20px;
    padding: 0px;
    margin: 12px 30px;
}

#navigation a {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: #6D7274;
    text-decoration: none;
}

#navigation h6 {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
}