.heroSection {
    display: flex;
    width: 1376px;
    height: 194px;
    margin-left: 32px;
    border-radius: 8px;
    border: 1px solid #1F262B;
}

.backImg {
    position: relative;
    display: flex;
    width: 1376px;
    height: 194px;
    filter: blur(15px);
}

.coursesAbout {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 541px;
    height: 80px;
    margin-left: 32px;
    margin-top: 32px;
}

.title {
    width: 541px;
    height: 41px;
    color: white;
    font-size: 32px;
    margin-top: 0px;
    font-family: sans-serif;
    font-weight: bold;
    user-select: none;
}

.pricesInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 292px;
    height: 30px;
    gap: 8px;
    margin-top: -12px;
}

.newPrice {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.oldPrice {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    color: #A4ACAF;
    text-decoration: line-through red;
}

.categories {
    user-select: none;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
    width: 351px;
    height: 24px;
    margin-left: 32px;
    margin-top: 138px;
}

.level {
    display: flex;
    align-items: center;
    width: 118px;
    height: 24px;
    gap: 5px;
    color: #A4ACAF;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;

    &:hover {
        transform: scale(95%);
    }
}

.category {
    display: flex;
    align-items: center;
    width: 102px;
    height: 24px;
    color: #A4ACAF;
    font-family: sans-serif;
    font-size: 14px;
    gap: 4px;
    font-weight: 400;

    &:hover {
        transform: scale(95%);
    }
}

.lesson {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #A4ACAF;
    font-family: sans-serif;
    font-size: 14px;
    gap: 4px;
    font-weight: 400;

    &:hover {
        transform: scale(95%);
    }
}

.rating {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 292px;
    height: 28px;
    margin-top: 32px;
    margin-left: 1038px;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 28px;

    & img {
        width: 26px;
        height: 26px;
    }
}

.reviews {
    display: flex;
    align-items: center;
    width: 119px;
    height: 24px;

    & h5 {
        color: white;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 500;
    }

    & p {
        color: #6D7274;
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 500;
    }
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 382px;
    height: 50px;
    gap: 16px;
    margin-top: 112px;
    margin-left: 962px;
}

.buyCourse {
    width: 250px;
    height: 50px;
    background-color: #1C92E0;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.like {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #646C6F;
    background-color: #252F32;
}

.share {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #646C6F;
    background-color: #252F32;
}



.selectedCourse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.card {
    position: relative;
    width: 440px;
    height: 552px;
    background: #1A1D1F;
    border-radius: 12px;
    border: 1px solid #1F272A;
}

.payimg {
    margin-left: 130px;
}

.buyCourseInfo {
    display: flex;
    flex-direction: column;
    width: 392px;
    height: 117px;
    margin-left: 24px;
    border: 1.6px solid #25282A;
    border-radius: 12px;

    & p {
        display: flex;
        justify-content: center;
        width: 368px;
        height: 21px;
        font-size: 16px;
        margin-top: 12px;
        font-family: sans-serif;
        font-weight: 500;
        color: #9FA1A2;
    }

    & h2 {
        display: flex;
        justify-content: center;
        width: 368px;
        height: 26px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: bold;
        color: white;
        margin-top: -2px;
    }

    & h6 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 184px;
        height: 30px;
        gap: 12px;
        color: white;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: bold;
        margin-top: 0px;
        margin-left: 104px;
    }
}

.paymentType {
    display: grid;
    grid-template-columns: auto auto;
    width: 392px;
    height: 108px;
    margin-top: 45px;
    gap: 10px;
    margin-left: 24px;
}

.paylov {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 188px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #212528;
    background-color: #13181C;
}

.payBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 392px;
    height: 44px;
    margin-top: 30px;
    margin-left: 24px;
}

.cancel {
    width: 188px;
    height: 44px;
    border-radius: 8px;
    border: none;
    background-color: #313435;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        transform: scale(95%);
    }
}

.continue {
    width: 188px;
    height: 44px;
    border-radius: 8px;
    border: none;
    background-color: #1C92E0;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        transform: scale(95%);
    }
}

.closeBtn {
    width: 40px;
    height: 40px;
    margin-top: -510px;
    margin-left: 12px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 30px;
    background-color: #1A1D1F;
}

.inProcesscard{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.inProcessDialog{
    position: relative;
    width: 440px;
    height: 283px;
    background: #1A1D1F;
    border-radius: 12px;
    border: 1px solid #1F272A;
}