.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 40px;
    margin-left: 440px;
    margin-top: 108px;
}

.box h6{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    width: 88px;
    height: 40px;
    background-color: #232628;
    border: 1px solid #3D4042;
    border-radius: 8px;
}


.musbat {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #A8DB68;
    background-color: #82CC27;
    color: white;
    font-size: 20px;
}
.manfiy {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E76C6C;
    background-color: red;
    color: white;
    font-size: 20px;
}

.active-manfiy{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #434648;
    background-color: #35383A;
    color: white;
}
