.filter{
    position: absolute;
    width: 339px;
    height: 489px;
    margin-left: 31px;
    margin-top: -1116px;
    gap: 24px;
    border-radius: 8px;
    background-color: #1A1D1F;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 294px;
    height: 24px;
    margin: 20px;
}

.header h5{
    user-select: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    color: #FCFCFC;
}
.header p{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: #1C92E0;
    cursor: pointer;
    user-select: none;
}

.main{
    width: 286px;
    height: 401px;
    gap: 24px;
    margin: 24px 20px;
}

.section1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 286px;
    height: 82px;
    border-radius: 8px;
    color: aliceblue;
    cursor: pointer;
}

.dropdown {
    border: 1px solid #ddd;
    width: 93%;
    background: #15181A;
    padding: 10px;
    margin-top: 60px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #232627;
}
.dropdown p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 25px;
    border: 1px solid white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 20px;
    z-index: 11;
}
.section1 h6{
    width: 98px;
    height: 12px;    
    position: absolute;
    top: -25px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
}

.filterSelect{
    position: absolute;
    display: flex;
    align-items: center;
    width: 286px;
    height: 54px;
    top: 28px;
    background-color: #111315;
    border: 1px solid #232627;
    border-radius: 8px;
}
.filterSelect h5{
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;

}

