.nav{
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 702px;
    margin-top: -110px;
    margin-left: 32px;
    gap: 24px;
}

.navPlayer{
    width: 326px;
    height: 309px;
    border-radius: 8px;
    border: 1px solid #232627;
}

.navHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 326px;
    height: 58px;
    background-color: #272B30;    
    border-top-left-radius: 8px;
}
.navHead h2{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: #FCFCFC;
    margin-left: 16px;
}
.navHead p{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: #9DA1A3;
    margin-right: 16px;
}
.navPersons{
    display: flex;
    align-items: center;
    width: 326px;
    height: 68px;
    margin-top: -5px;
    background-color: #1A1D1F;
    border-radius: 8px;
}
.navPersons h6{
    display: flex;
    align-items: center;
    width: 95px;
    height: 42px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
}
#unlikeImg{
    margin-left: -30px;
    

}
.navRating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 327px;
    height: 369px;
    border-radius: 12px;
    border: 1px solid #1F272A;
    background-color: #1A1D1F;
}

.headerRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 326px;
    height: 26px;
    margin-top: 16px;
}
.headerRating h5{
    display: flex;
    align-items: center;
    width: 76px;
    height: 25px;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 16px;
    user-select: none;
}

.headerRating a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 94px;
    height: 24px;
    color: #9DA1A3;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    text-decoration: none;
    gap: 4px;
    &:active{
        color: white;
    }
}

.main{
    user-select: none;
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 315px;
    margin-top: 0px;
}
.ratingItem{
    display: flex;
    width: 326px;
    height: 62px;
    border-top: 1px solid #1A2226;
    &:hover{
        background-color: #13181C;
    }
}

.playerName{
    display: flex;
    align-items: center;
    gap: 11px;
    width: 155px;
    height: 24px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 16px;
}
.ratingChange{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 29px;
    height: 16px;
    font-size: 12px;
    color: #82CC27;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 34px;
    margin-left: -125px;
}
.points{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 24px;
    margin-top: 10px;
    margin-left: 206px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
.ratingDelta{
    display: flex;
    width: 27px;
    height: 16px;
    margin-top: 34px;
    margin-left: -27px;
    color: #82CC27;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
}



