.nav{
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 702px;
    margin-top: -110px;
    margin-left: 32px;
    gap: 24px;
}

.nav-player{
    width: 326px;
    height: 309px;
    border-radius: 8px;
    border: 1px solid #232627;
}
.nav-rating{
    width: 327px;
    height: 369px;
    border-radius: 12px;
    border: 1px solid #1F272A;
}
.nav-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 326px;
    height: 58px;
    background-color: #272B30;    
    border-top-left-radius: 8px;
}
.nav-head h2{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: #FCFCFC;
    margin-left: 16px;
}
.nav-head p{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: #9DA1A3;
    margin-right: 16px;
}
.nav-persons{
    display: flex;
    align-items: center;
    width: 326px;
    height: 68px;
    margin-top: -5px;
    background-color: #1A1D1F;
    border-radius: 8px;
}
.nav-persons h6{
    display: flex;
    align-items: center;
    width: 95px;
    height: 42px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
}
#unlikeImg{
    margin-left: -30px;
    

}
