.search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 676px;
    height: 52px;
    margin-left: 382px;
    margin-top: -110px;
    border: 1px solid #232627;
    background: #15181A;
    border-radius: 12px;
    gap: 8px;
}
.search img{
    margin-left: 16px;
}
.search input{
    width: 640px;
    height: 52px;
    background-color: #15181A;
    border: none;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 0;
    width: 0;
    display: none;
}