.cart-item{
    display: flex;
    width: 1024px;
    height: 184px;
    border-radius: 12px;
    border: 1px solid #1F272A;
    background: #1A1D1F;
    margin-top: 20px;
    margin-left: 34px;
}
.cart-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 144px;
    margin: 20px 20px;
    border-radius: 8px;
}

.title {
    display: flex;
    align-items: center;
    width: 602px;
    height: 48px;
    margin-top: 24px;
    margin-left: -7px;
}
.title p{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 120%;
    color: #F7F9FA;
}
.cart-price{
    display: flex;
    width: 200px;
    height: 62px;
    margin-top: 86px;
    margin-left: -602px;
}

.cart-price h6{
    display: flex;
    width: max-content;
    height: 36px;
    margin: 0px 0px;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    color: #82CC27;
}

.cart-price p{
    display: flex;
    width: max-content;
    height: 24px;
    margin-top: 38px;
    margin-left: -160px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: #A7AAAB;
    text-decoration: line-through red;
}


