body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #111315;
}

.header{
    display: flex;
    align-items: center;
    width: 1376px;
    height: 76px;
    margin-top: 20px;
    margin-left: 32px;
    border-radius: 16px;
    background-color: #1A1D1F;
}
.imgSelect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 257px;
    height: 24px;
    margin-left: 24px;
}
.imgSelect img{
    width: 104px;
    height: 44px;
    margin-top: -10px;
}
.imgSelect select{
    outline: none;
    width: 112px;
    height: 24px;
    margin-left: 20px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    user-select: none;
    background-color: #1A1D1F;
    border: none;
    cursor: pointer;
}

.navLinks{
    display: flex;
    align-items: center;
    width: 481px;
    height: 20px;
    gap: 40px;
    margin-left: 166px;
    user-select: none;
}

.headerIcons{
    display: flex;
    justify-content: space-between;
    width: 293px;
    height: 40px;
    gap: 20px;
    padding: 0px;   
    margin-left: 80px;
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 24px;
    gap: 24px;
    margin: 8px 0px;
    cursor: pointer;
}
.kirish{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 132px;
    height: 40px;
    border: none;
    user-select: none;
    border-radius: 8px;
    background-color: #1C92E0;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    &:hover{
        cursor: pointer;
        transform: scale(90%);
    }
}


.container123 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.box{
    position: relative;
    width: 910px;
    height: 597px;
    background: #1A1D1F;
    border-radius: 12px;
    border: 1px solid #1F272A;
}

.closeBtn{
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 30px;
    background-color: #1A1D1F;
    margin-left: 950px;
    margin-top: -640px;
}

.img{
    position: absolute;
    margin-top: -514px;
    margin-left: 24px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.lockedImg{ 
    margin-top: 64px;
    margin-left: 86px;
}
.advice{
    width: 367px;
    height: 56px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left: 50px;
    margin-top: 24px;
    text-align: center;
}
.box p{
    width: 340px;
    height: 44px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: #9DA1A3;
    margin-left: 50px;
    margin-top: 0px;
    text-align: center;
    user-select: none;
}

.loginBtn{
    cursor: pointer;
    width: 419px;
    height: 45px;
    border: none;
    border-radius: 8px;
    margin-left: 24px;
    margin-top: 35px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #1C92E0;
}
.signUpBtn{
    cursor: pointer;
    width: 419px;
    height: 45px;
    border: none;
    border-radius: 8px;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #313435;
}

