.container{
    display: grid;
    grid-template-columns: auto auto;
    width: 1026px;
    height: 358px;
    margin-left: 382px;
    margin-top: -145px;
    gap: 24px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 501px;
    height: 167px;
    border-radius: 12px;
    background-color: #1A1D1F;
    border: 1px solid #1F272A;
}
.infoCard{
    display: flex;
    gap: 16px;
    width: 453px;
    height: 74px;
    margin: 20px;
}
.cardAbout{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 359px;
    height: 74px;
}

.title{
    user-select: none;
    width: 359px;
    height: 26px;
    margin-top: 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    &:hover{
        color: #1C92E0;
        cursor: pointer;
    }

}
.description{
    user-select: none;
    width: 359px;
    height: 40px;
    color: #9DA1A3;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.divider{
    width: 481px;
    height: 1px;
    margin-left: 20px;
    margin-top: -4px;
    background-color: #1F272A;
}
.category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 394px;
    height: 24px;
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 20px;
    
    & p{
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 400;
        color: #9B9D9E;
        margin-left: 4px;
        &:hover{
            user-select: none;
            color: #1C92E0;
            cursor: pointer;
        }
    }
}

.level{
    display: flex;
    align-items: center;
    width: 115px;
    height: 24px;
    gap: 4px;
}
.categoryDivider{
    width: 1px;
    height: 20px;
    margin-top: 2px;
    margin-left: -10px;
    background-color: #3D4549;
}
.author{
    display: flex;
    align-items: center;
    width: 143px;
    height: 24px;
    gap: 4px;
}
.course{
    display: flex;
    align-items: center;
    width: 99px;
    height: 24px;
    gap: 4px;
}





