.news{display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 676px;
    height: 650px;
    margin-left: 382px;
    margin-top: 23px;
    gap: 20px;
}
.news-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 676px;
    height: 27px;
}
.news-header h6{
    user-select: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
.news-header p{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 94px;
    height: 24px;
    gap: 4px;
    margin-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: #9DA1A3;
    cursor: pointer;
    &:active{
        user-select: none;
        color: #1C92E0;  
    }
}
.news-main{
    width: 676px;
    height: 603px;
    gap: 20px;
    background-color: blue;
}

.news-item{
    display: flex;
    width: 676px;
    height: 120px;
    background-color: brown;
}
.news-about{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 480px;
    height: 93px;
    margin-left: 16px;
    background-color: antiquewhite;
}
.news-about p{
    width: 106px;
    height: 20px;
    font-size: 14px;
    color: #707173;
    font-family: sans-serif;
    font-weight: 500;
}

.news-about h4{
    display: flex;
    width: 480px;
    height: 21px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
}
.news-about h6{
    display: flex;
    width: 469px;
    height: 36px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    color: #888888;
}
