.match-list{
    display: flex;
    flex-direction: column;
    width: 676px;
    height: 466px;
    margin-left: 382px;
    margin-top: -570px;
    border-radius: 8px;
    border: 1px solid #1F272A;
    background-color: #1A1D1F;
}

.header-match{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 676px;
    height: 62px;
}
.header-match h4{
    margin-left: 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
}
.header-match a{
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 98px;
    height: 24px;
    gap: 4px;
    user-select: none;
    cursor: pointer;
    color: #9DA1A3;
}
.header-match img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}
.table{
    width: 676px;
    height: 400px;
}
.table-head{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 676px;
    height: 36px;
    background-color: #272B30;
    color: #9D9FA1;
    font-size: 12px;
    font-family: sans-serif;
}
.table-head th{
        font-size: 12px;
        font-weight: 500;
        font-family: sans-serif;
        color: #9D9FA1;

}

.gamers{
    width: 81px;
    height: 12px;
    margin-left: 40px;
}
.result{
    width: 46px;
    height: 12px;
    margin-left: 190px;
}
.typeofGame{
    width: 67px;
    height: 12px;
    margin-left: 34px;
}

.chess-move{
    width: 70px;
    height: 12px;
    margin-left: 24px;
}
.date{
    width: 35px;
    height: 12px;
    margin-left: 68px;
}

.MatchMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 676px;
    height: 72px;
    background-color: #1A1D1F;
}



.players_record {
    user-select: none;
    width: 676px;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid #1F272A;
        &:hover {
                background-color: #13181C;
            }
}

.kubok {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.level_kubok {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    font-weight: 400;
    font-size: 14px;
    color: #FCFCFC;
    font-family: sans-serif;
}

.around {
    display: flex;
    justify-content: space-between;
    width: 245px;


    & p {
        font-family: sans-serif;
        color: #6F767E;
    }
}

.back {
    display: flex;
    gap: 4px;

    & p {
        font-family: Arial, Helvetica, sans-serif;
        color: #FCFCFC;
    }
}

.play_month {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 265px;
    font-weight: 400;
    font-size: 14px;
    color: #FCFCFC;
    font-family: sans-serif;
}

.around2 {
    display: flex;
    justify-content: space-between;
    width: 120px;

    & img {
        width: 55px;
        height: 23px;
        filter: drop-shadow(0 0 25px yellow);
    }
}